.media,.media__body {
    overflow:hidden;
    padding: 20px;
}
.media__body{
    padding-top: 0px;
}
.media__body :first-child {
    margin-top: 0;
}
.media--left .media__image {
    float:left;
    margin-right: 1em;
}
.media--right .media__image {
    float:right;
    margin-left: 1em;
}
.media__object{
    align-self: center;
}